.Item-product {
    float: left;
    width: 33.33%;
    box-shadow: 1px 1px 5px;
    border: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    img {
        width: 100%;
    }
}